iframe {
	box-shadow: 10px 10px 10px #3c525d;
	height: 13em;
}

.display_button{
  width: 100%;
  height: 4em;
}

.video_container{
  width: 100%;
  padding: 20px 3em 20px 7em;
}

.ind_video {
	float: left;
	margin: 25px;
	

}